{{ template "header.html" .}}
<body class="container">
  {{ template "menu.html" .}}

  <h2>{{ .Title }}</h2>

  <button type="button" class="myBtn add addBtn">新增</button>

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <table>
        <tr>
          <h2 id="editlabel"></h2>
        </tr>
        <tr>
          group:
          <input type="text" id="group" placeholder="group" required />
          groupId:
          <input type="text" id="groupId" placeholder="groupId" required />
          door:
          <input type="text" id="door" placeholder="door" required />
          <input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

          <input type="button" class="add-row" value="" />
        </tr>
      </table>
    </div>
  </div>

  <table id="tb"></table>
  <button type="button" class="delete-row">刪除</button>
  <script src="../assets/js/gruop.js"></script>
  {{ template "footer.html" .}}
</body>
