<!--menu.html-->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Home </a>
    </div>
    <ul class="nav navbar-nav">
      {{ if .is_logged_in }}
      <li><a href="/view/user">會員管理</a></li>
      <li><a href="/view/group">部門管理</a></li>
      {{end}} {{ if not .is_logged_in }}
      <li><a href="/auth/register">Register</a></li>
      {{end}} {{ if not .is_logged_in }}
      <li><a href="/auth/login">Login</a></li>
      {{end}} {{ if .is_logged_in }}
      <li><a href="/auth/logout">Logout</a></li>
      {{end}}
    </ul>
  </div>
</nav>
